h1,h2,h3,h4,h5,h6{
    font-family: 'Milonga', cursive;
    color: burlywood;
}

p{
    font-family: 'Snippet', sans-serif;
}

body{
    display: flex;
    /* padding: 0px; */
    margin: 0px;
    background-color: cadetblue;
}

code{
    font-family: 'Source Code Pro', monospace;
    background-color: rgb(255,255,255,0.2);
    /* opacity: 0.2; */
    padding:5px;
    /* margin:5px; */
    line-height: 30px;
}

.container{
    
    padding: 20px;
    justify-content: center;
    width: 100%;
}