h1,h2,h3,h4,h5,h6{
    font-family: 'Milonga', cursive;
    color: burlywood;
}

p{
    font-family: 'Snippet', sans-serif;
}

body{
    display: flex;
    /* padding: 0px; */
    margin: 0px;
    background-color: cadetblue;
}

.container{
    
    padding: 20px;
    justify-content: center;
    width: 100%;
}